/*global*/ 
body {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
	font-size: 16px;
}
.content{
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
.footer{
	text-align: center;
}


/*post*/ 
.post-title{
	color: #990033;
}
.post-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.post-content{
	margin-top: 30px;
}
.post-content p{
	text-indent: 2em;
}

/*page*/
.page-title{
	color: #990033;
}
.page-description{
	margin-top: 10px;
	text-indent: 2em;
}
.page-more{
	color: #663333;
}
.page-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.page-pagination{
	margin-top: 20px;
	text-align: center;
}
.page-paginator-nav{
	color: #990033;
}
.page-paginator-disable{
	color: #CCCCCC;
}
.page-paginator-number{
	color: #663333;
}

/*about*/
.about-box{
	margin-bottom: 0px;
}
.about-content{
	padding-left: 20px;
	padding-right: 20px;
}
.about-count{
}
.about-count a{
	text-decoration: none;
}
.about-count a:hover{
	text-decoration: none;
}
.about-line{
	border-top:1px dashed #555555;
	margin-top: 15px;
	padding-top: 15px;
}
.about-introduction{
	text-indent: 2em;
}
.about-skills{
	text-indent: 2em;
}

/*nav*/
.nav-dropdown-menu{
	background-color: #222;
}
.nav-dropdown-menu-yqlj{
}
.nav-dropdown-menu-yqlj a{
	color: #999;
}
.nav-dropdown-menu-yqlj a:hover{
	color: #fff;
}