/*global*/ 
body {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
	font-size: 15px;
}
.content{
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
.footer{
	text-align: center;
}


/*post*/ 
.post-title{
	color: #990033;
}
.post-title-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
}
.post-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.post-time-line-categories{
	color: #990033;
}
.post-time-line-tag{
	margin: 0px 2px;
	padding: 0px 5px;
	border: 1px dashed #E7A466;
	color: #7b7368;
}
.post-content{
	margin-top: 15px;
}
	.post-content h1,
	.post-content h2,
	.post-content h3,
	.post-content h4{
		background-color: gray;
		padding: 10px 20px;
		color: #fff;
	}

/*page*/
.page-title{
	color: #990033;
}
.page-description{
	margin-top: 10px;
	text-indent: 2em;
}
.page-more{
	color: #a48d66;
}
.page-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.page-time-line-categories{
	color: #990033;
}
.page-time-line-tag{
	margin: 0px 2px;
	padding: 0px 5px;
	border: 1px dashed #E7A466;
	color: #7b7368;
}
.page-pagination{
	margin-top: 20px;
	text-align: center;
}
.page-paginator-nav{
	color: #990033;
}
.page-paginator-disable{
	color: #CCCCCC;
}
.page-paginator-number{
	color: #663333;
}

/*about*/
.about-info{
	background: #f7f7f6;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
	padding: 40px 0;
}
.about-count{
}
	.about-count a{
		text-decoration: none;
	}
	.about-count a:hover{
		text-decoration: none;
	}
.about-introduction{
	background: #fff;
	padding: 40px 0;
}
.about-skills{
	padding: 40px 0;
	background: #39342d;
	margin-bottom: 20px;
}