/*global*/ 
body {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
	font-size: 16px;
}
.content{
	margin-top: 20px;
	padding: 10px;
}


/*post*/ 
.post-title{
	color: #990033;
}
.post-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
}
.post-content{
	margin-top: 30px;
}
.post-content p{
	text-indent: 2em;
}

/*page*/
.page-title{
	color: #990033;
}
.page-description{
	margin-top: 10px;
	text-indent: 2em;
}
.page-time-line{
	border-top:1px dashed #e8e7d0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
}

/*about*/
.about-box{
	margin-bottom: 10%;
}
.about-title{
	text-align: center;
	margin-bottom: 10px;
	color: #993333;
}
.about-headPortrait{
	float: top;
}
.about-content{
	padding: 20px;
}
.about-line{
	border-top:1px dashed #555555;
	margin-top: 15px;
	padding-top: 15px;
}
.about-introduction{
	text-indent: 2em;
}
.about-skills{
	text-indent: 2em;
}